<div class= signupform>
    <%= form_with(model: @user, local: true) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      <h1>Signup</h1>
      <div>
        <%= f.text_field :name, placeholder: "What's your name?"  %>
      </div>
      <div>
        <%= f.email_field :email, placeholder: "Enter your email"  %>
      </div>
      <div>
        <%= f.password_field :password, placeholder: "Enter your password"  %>
      </div>
      <div>
        <%= f.password_field :password_confirmation, placeholder: "Password_confirmation"  %>
      </div>
      <%= f.submit 'Sign up',{class: 'signup_submit' } %>
    <% end %>  
</div>