<div class= signupform>
    <%= form_with(model: @user, local: true) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      
      <div>
        <div><%= f.label :name, 'Name'%></div>
        <%= f.text_field :name, placeholder: "name"  %>
      </div>

      <div>
        <div class= signup_label_Email><%= f.label :email, 'Email' %></div>
        <%= f.email_field :email, placeholder: "email"  %>
      </div>

      <div>
        <div class= signup_label_Password><%= f.label :password, 'Password' %></div>
        <%= f.password_field :password, placeholder: "password"  %>
      </div>

      <div>
        <div class= signup_label_Confirmation><%= f.label :password_confirmation, 'Confirmation' %></div>
        <%= f.password_field :password_confirmation, placeholder: "password_confirmation"  %>
      </div>

      <%= f.submit 'Sign up',{class: 'signup_submit' } %>
    <% end %>  
</div>