<%= render 'layouts/navbar' %>
<div class="item_list_index">
    <% if logged_in? %>
        <%= search_form_for @search do |f| %>
        <%= f.search_field :list_name_cont, placeholder: "How Are You Feeling?" %>
        <button type="submit" id="search">
          <span class="material-icons">search</span>
        </button>
      <% end %>
    <% end %>
    <p>Result</p>
    <div class="article_index">
      <ul class="article_index_wrap">
        <% @item_lists.each do |item_list| %>
          <li>
            <div class="article_topimg">
              <% if item_list.image? %>
                <%= link_to image_tag(item_list.image.url), item_list_path(item_list) %>
              <% else %>
                <%= link_to image_tag("/assets/default.png"), item_list_path(item_list) %>
              <% end %>
            </div>
            <div class="article_word_box">
              <div class="article_category">
                <% if item_list.list_item_type == "1" then %>
                <div class="face_type_box">
                  <p class="condition">Condition :</p>
                  <span>&#x1f606;</span>
                </div>
                <% elsif item_list.list_item_type == "2" then%>
                <div class="face_type_box">
                  <p class="condition">Condition :</p>
                  <span>&#x1f600;</span>
                </div>
                <% elsif item_list.list_item_type == "3" then%>
                <div class="face_type_box">
                  <p class="condition">Condition :</p>
                  <span>&#x1f610;</span>
                </div>
                <% elsif item_list.list_item_type == "4" then%>
                <div class="face_type_box">
                  <p class="condition">Condition :</p>
                  <span>&#x1f605;</span>
                </div>
                <% elsif item_list.list_item_type == "5" then%>
                <div class="face_type_box">
                  <p class="condition">Condition :</p>
                  <span>&#x1f631;</span>
                </div>
                <% end %>
              </div>
              <div class="article_title">
                <div class="title_name">
                  <%= link_to item_list.list_name , item_list_path(item_list) %>
                </div>    
              </div> 
              <p class="user_name">
                  <span><%= item_list.user.name %></span> が
                  <%= item_list.created_at.strftime("%m/%d/%Y ") %>
                </p>
            </div>   
          </li>
        <% end %>
      </ul> 
    </div>
</div>