

<%= form_with(model: @item_list, local: true) do |f| %>
    <div><%= f.label :list_name, 'List Name' %></div>
    <div><%= f.text_field :list_name %></div>
    <div><%= f.label :image, 'Img' %></div>
    <div><%= f.file_field :image %></div>
    <div><%= f.submit 'Create a new Support-kit' %></div>
<% end %>