
<div class= item_list_show>

    <div class= item_list_show_box>
        <% if @item_list.image? %>
            <div class= item_list_show_box_img>
                <%= image_tag @item_list.image.url %> 
            </div>
        <% else %>
            <%= image_tag "/assets/default.png" %>
        <% end %>
            <div class= item_list_show_box_wrap>
                <p><%= @item_list.list_name %></p>
                <div class="item_list_show_edit">
                    <%= link_to 'Edit',  edit_item_list_path %>
                </div>
            </div>
            <div class="item_list_show_add">
                <%= link_to '＋ Add a product', new_item_path(item_list_id: 3) %>
            </div> 
    </div>
</div>

