<%= render 'layouts/navbar' %>
<div class= "item_list_show">
    <div class= "box">
            <div class= "item_list_wrap">
                <p class= list_name><%= @item_list.list_name %></p>
                <% if current_user == @item_list.user %>
                    <div class= "edit_item_list">
                        <%= link_to image_tag("markedit.png", class: "markedit_item_list"), edit_item_list_path(@item_list) %>
                    </div>
                <% end %>
            </div>
            <% if @item_list.image.url.present?%>
                    <%= link_to image_tag(@item_list.image.url) %>
                <% end %>
            <p class= list_description><%= @item_list.list_description %></p>
            <ul>
                <% @items.each do |item| %>
                    <li class=item_list_show_card>
                        <div class="item_list_card_wrap">
                            <%= link_to image_tag(item.img.url), item_path(item), {class: 'item_img' } %>
                            <div class="item_name_box">
                                <%= link_to item.item_name, item_path(item), {class: 'item_name' } %>
                                <% if item.item_link.present? %>
                                <div class="item_link_box">
                                    <%= raw Rinku.auto_link(item.item_link, :all, 'target="_blank"') %>
                                </div>
                            </div>
                        <% else %>
                        </div>
                        <% end %> 
                    </li>
                <% end %>
            </ul>     
            <p><span class="material-icons">card_giftcard</span> 作成者に感謝して支援する。</p>
    </div>
    
    <% if current_user == @item_list.user %>
        <div class="addproducts">
            <%= form_with(model: @item, url: item_list_items_path(@item_list), local: true) do |form| %>
                <div class= "wrap"> 
                    <%= form.text_field :item_name, placeholder: "Products_Name" %>
                    <%= form.text_field :item_link, placeholder: "Products_url" %>
                    
                    <%= form.label :img, "Cover img", class: "addproducts_img_name_label" %>
                    <%= form.file_field :img, class: "fileInput",style: "display:none;" %>
                    <%= form.hidden_field :item_list_id, value:@item_list.id %>
                    <div class= "submit">
                        <%= form.submit '＋',{class: 'submit_plus' } %>
                        <%= form.submit 'add a weapon',{class: 'addproductst_submit' } %>
                    </div>     
                </div> 
            <% end %>
        </div>
    <% else %>
    
    <% end %>
</div>

