<%= render 'layouts/navbar' %>
<div class= "item_list_show">
    <div class= "box">
            <div class= "item_list_name_wrap">
                
                <% if current_user == @item_list.user %>
                    <div class= "edit_item_list">
                        <%= link_to edit_item_list_path(@item_list) , { class: 'checker_submit' } do %>
                            <span class="material-icons">create</span>
                        <% end %>
                    </div>
                <% end %>
            </div>
            <% if @item_list.image.url.present?%>
                    <%= link_to image_tag(@item_list.image.url) %>
            <% end %>
            <p class= list_name><%= @item_list.list_name %></p>
            <p>カテゴリ</p>
            <div class="ctegory_name">
                <% @item_list.categories.each do |category| %>
                    <%= category.name %>
                <% end %>
            </div>
            <p class= list_description><%= @item_list.list_description %></p>
            <p class= "item_list_itmes">items</p>
            <ul>
                <% @items.each do |item| %>
                    <li class=item_list_show_card>
                        <div class="item_list_card_wrap">
                            <%= link_to image_tag(item.img.url), item_path(item), {class: 'item_img' } %>
                            <div class="item_name_box">
                                <%= link_to item.item_name, item_path(item), {class: 'item_name' } %>
                                <% if item.item_link.present? %>
                                <div class="item_link_box">
                                    <%= raw Rinku.auto_link(item.item_link, :all, 'target="_blank"') %>
                                </div>
                            </div>
                        <% else %>
                        </div>
                        <% end %> 
                    </li>
                <% end %>
            </ul> 
            <div class= "sns_icon">
                <span class="material-icons">facebook</span>
            </div>
    </div>

    <div class="box-right">
        <div class="box-right-condition">                       
            <% if @item_list.list_item_type == "1" then %>
                <p>Mood :</p>
                <div class="face-icon">
                    <span>&#x1f606;</span>
                </div>
            <% elsif @item_list.list_item_type == "2" then%>
                <p>Mood :</p>
                <div class="face-icon">
                    <span>&#x1f600;</span>
                </div>
            <% elsif @item_list.list_item_type == "3" then%>
                <p>Mood :</p>
                <div class="face-icon">
                    <span>&#x1f610;</span>
                </div>
            <% elsif @item_list.list_item_type == "4" then%>
                <p>Mood :</p>
                <div class="face-icon">
                    <span>&#x1f605;</span>
                </div>
            <% elsif @item_list.list_item_type == "5" then%>
                <p>Mood :</p>
                <div class="face-icon">
                    <span>&#x1f631;</span>
                </div>
            <% end %>
        </div>     
        <% if current_user == @item_list.user %>
        <div class="addproducts">
            <%= form_with(model: @item, url: item_list_items_path(@item_list), local: true) do |form| %>
                <div class= "wrap"> 
                    <%= form.text_field :item_name, placeholder: "Item_Name" %>
                    <%= form.text_field :item_link, placeholder: "Item_url" %>
                    <%= form.label :img, "Img", class: "addproducts_img_name_label" %>
                    <%= form.file_field :img, class: "fileInput",style: "display:none;" %>
                    <%= form.hidden_field :item_list_id, value:@item_list.id %>
                    <div class= "submit">
                        <%= form.submit '＋',{class: 'submit_plus' } %>
                        <%= form.submit 'add a item',{class: 'addproductst_submit' } %>
                    </div>     
                </div> 
            <% end %>
        </div>
        <% else %>
        
        <% end %>
    </div>

    <div class="recommend">あなたにオススメ</div>
    
    <footer>
        <% if logged_in? %>
                    <% if current_user.already_favorited?(@item_list) %>
                            <%= link_to item_list_favorite_path(@item_list), method: :delete do %>
                                <i class="fas fa-bookmark"></i>
                            <% end %>
                    <% else %>
                            <%= link_to item_list_favorites_path(@item_list), method: :post do %>
                                <i class="far fa-bookmark"></i>
                            <% end %>
                    <% end %>
        <% else %>
        <% end %>
        <% if logged_in? %>
                    <% if current_user.already_liked?(@item_list) %>
                            <%= link_to item_list_like_path(@item_list), method: :delete do %>
                                <i class="fas fa-heart"></i>
                            <% end %>
                    <% else %>
                            <%= link_to item_list_likes_path(@item_list), method: :post do %>
                                <i class="far fa-heart"></i>
                            <% end %>
                    <% end %>
                    <% @item_list.likes.count %>
        <% else %>
        <% end %>
    </footer>
</div>




