
<% if logged_in? %>
  <div class= user-name>
    <p>Welcome back: <%= current_user.name %></p>
  </div>

  <div class= topppages-index-login>    
    <ul>
      <% @item_lists.each do |item_list| %>
        <li>
            <%= link_to item_list.list_name , item_list_path(item_list) %>
            <p class= item_list_products>products</p>
            <% if item_list.image? %>
              <%= image_tag item_list.image.url %> 
            <% else %>
              <%= image_tag "/assets/default.jpg" %>
            <% end %>
        </li>
      <% end %>
    </ul>
  </div>  
  
<% else %>
  <div　class= topppages-index-logout>
    <h1>Welcome to the Creative Amp</h1>
    <p>あなたの気分を補助するツール、それがSUPPORTです</p>
    <p>全く新しいあなたの思考を解き放つ体験</p>
    <%= link_to 'Sign up now!', signup_path %>
  </div>
<% end %>

