
<% if logged_in? %>
<div class= user-name>
  <p>Welcome back: <%= current_user.name %></p>
  <p>さあリサに話しかけて見よう！あなたをサポートする最適なキットを紹介してくれるでしょう</p>
</div>

<div class= item-lists>    
  <ul>
    <% @item_lists.each do |item_list| %>
      <li>
          <p>@<%= item_list.user.name %></p>
          <%= link_to item_list.list_name , item_list_path(item_list) %>
          <%= image_tag item_list.image.url %>
      </li>
    <% end %>
  </ul>
</div>

<% else %>
<div>
  <div>
    <h1>Welcome to the Support-Kit</h1>
    <%= link_to 'Sign up now!', signup_path %>
  </div>
</div>
<% end %>

