
<%= render 'layouts/navbar' %>
<% if logged_in? %>
  <div class= toppage_login>
    <div class= logout_image>
      <div class =logout_word>
        <h1 class= top><br>未来の先のその先へ<br>生きる力を<br>あなたに</h1>
        <p class= middle>ライフハックに関する<br>ガジェット共有コミュニティ<br>未来をよりよく生きる知恵を共有しよう<br></p>
        <div class="box_login">
        </div>
      </div>
      <div class="logout_img">
        <%= image_tag("/assets/top_image3.png") %>
      </div> 
    </div>
    <div class= checker>
      <p class= checker_username>How are you feeling? &nbsp;<%= current_user.name%></p>
      <h1 class= checker_word_top> 体調管理は &nbsp;Daily Planner&nbsp; にお任せ</h1>
      <p class= checker_word_middle>使用ツールを選んで簡単習慣化</p>
      <p class= checker_word_bottom>Daily Planner&nbsp;はあなたのデータを分析、トラッキングもしません</p>
      <%= link_to new_emotion_path , { class: 'checker_submit' } do %>
        <%= image_tag("/assets/checker.png") %>
        <p>Daily Planner</p>
      <% end %>
    </div>

    <div class="itemlist">
      <ul class="left">
        <div class="left_box">
          <%= image_tag("/assets/myitem_img.png") %>
          <p>マイアイテム</p>
        </div>
        <% @mytools.each do |item_list| %>
            <li>
              <%= link_to item_list.list_name , item_list_path(item_list) %>
            </li>
        <% end %>
      </ul>
      <ul class="right">
        <% @item_lists.each do |item_list| %>
          <li>
            <p>
              <span><%= item_list.user.name %></span> が
              <%= item_list.created_at.strftime("%Y-%m-%d %H:%M") %>に投稿
            </p>
            <div class="box_text">
              <%= link_to item_list.list_name , item_list_path(item_list) %>
              <div class= "countitems">
                <%= link_to item_list.items.count, item_list_path(item_list), { class: 'counts' } %>
                <%= link_to "items", item_list_path(item_list), { class: 'products' } %>
              </div>
            </div>  
          </li>
        <% end %>
      </ul> 
    </div> 

<% else %>
  <div class= toppage_logout>
    <div class= logout_image>
      <div class =logout_word>
    
        <h1 class= top><br>未来の先のその先へ<br>生きる力を<br>あなたに</h1>
        <p class= middle>ライフハックに関する<br>ガジェット共有コミュニティ<br>未来をよりよく生きる知恵を共有しよう<br></p>
        <div class="box_login">
          <div class="test_login">
            <%= form_with(url: login_path, scope: :session, local: true) do |f| %>
            <%= f.hidden_field :email, value: "testuser@testuser.com" %>
            <%= f.hidden_field :password, value: "testuser" %>
            <%= f.submit "ツールを見てみる"%> 
            <% end %>
          </div>
        </div>
      </div>
    </div> 

    <div class= checker>
      <h1 class= checker_word_top> 毎日の体調管理は &nbsp;Daily Planner&nbsp; にお任せ</h1>
      <p class= checker_word_middle>使用ツールを選んで簡単習慣化</p>
      <p class= checker_word_bottom>Daily Planner&nbsp;はあなたのデータを分析、トラッキングもしません</p>
      <%= link_to new_emotion_path , { class: 'checker_submit' } do %>
        <%= image_tag("/assets/checker.png") %>
        <p>Daily Planner</p>
      <% end %>
    </div>
    
<% end %>

