
<%= render 'layouts/navbar' %>
<% if logged_in? %>
  <div class= toppage_login>
    <div class= checker>
      <p class= checker_username>How are you feeling? &nbsp;<%= current_user.name%></p>
      <h1 class= checker_word_top> 体調管理は &nbsp;Mood Checker&nbsp; にお任せ</h1>
      <p class= checker_word_middle>簡単チェックでアイテム使用前後の気分を可視化</p>
      <p class= checker_word_bottom>Mood checker&nbsp;はあなたのデータを分析、トラッキングもしません</p>
      <%= link_to new_emotion_path , { class: 'checker_submit' } do %>
        <%= image_tag("/assets/checker.png") %>
        <p>Mood Cheacker</p>
      <% end %>
    </div>

    <div class="itemlist">
      <p>パッケージ</p>
      <ul>
        <% @item_lists.each do |item_list| %>
          <li>
            <div class="box_text">
              <%= link_to item_list.list_name , item_list_path(item_list) %>
              <div class= "countitems">
                <%= link_to item_list.items.count, item_list_path(item_list), { class: 'counts' } %>
                <%= link_to "products", item_list_path(item_list), { class: 'products' } %>
              </div>
            </div>  
            <% if item_list.image? %>
              <%= link_to image_tag(item_list.image.url), item_list_path(item_list) %> 
            <% else %>
              <%= link_to image_tag("/assets/default.png"), item_list_path(item_list) %>
            <% end %>
          </li>
        <% end %>
      </ul> 
    </div> 

<% else %>
  <div class= toppage_logout>
    <div class= logout_image>
      <div class =logout_word>
        <h1 class= top>Are You A Creater ,Engneer?<br>Tools To Help You For Create</h1>
        <p>すべてのクリエイターのためのライフハックツール<br>未来を生きるためのツールと知恵を共有</p>
        <p class= middle></p>
        <div class="box_login">
          <div class="test_login">
            <%= form_with(url: login_path, scope: :session, local: true) do |f| %>
            <%= f.hidden_field :email, value: "testuser@testuser.com" %>
            <%= f.hidden_field :password, value: "testuser" %>
            <%= f.submit "簡単ログイン"%> 
            <% end %>
          </div>
        </div>
      </div>
    </div> 

    <div class= checker>
      <h1 class= checker_word_top> 体調管理は &nbsp;Mood Checker&nbsp; にお任せ</h1>
      <p class= checker_word_middle>簡単チェックでアイテム使用前後の気分を可視化</p>
      <p class= checker_word_bottom>Mood checker&nbsp;はあなたのデータを分析、トラッキングもしません</p>
      <%= link_to new_emotion_path , { class: 'checker_submit' } do %>
        <%= image_tag("/assets/checker.png") %>
        <p>Mood Cheacker</p>
      <% end %>
    </div>

    <div class="itemlist">
      <p>パッケージ</p>
      <ul>
        <% @item_lists.each do |item_list| %>
          <li>
            <div class="box_text">
              <%= link_to item_list.list_name , item_list_path(item_list) %>
              <div class= "countitems">
                <%= link_to item_list.items.count, item_list_path(item_list), { class: 'counts' } %>
                <%= link_to "products", item_list_path(item_list), { class: 'products' } %>
              </div>
            </div>  
            <% if item_list.image? %>
              <%= link_to image_tag(item_list.image.url), item_list_path(item_list) %> 
            <% else %>
              <%= link_to image_tag("/assets/default.png"), item_list_path(item_list) %>
            <% end %>
          </li>
        <% end %>
      </ul> 
    </div>   
  </div>
<% end %>

