

<% if logged_in? %>
  <div class= toppage>  
      <p class="recentlyadded">Recently Added</p>
    <ul>
      <% @item_lists.each do |item_list| %>
        <li>
          <div class="box_text">
            <%= link_to item_list.list_name , item_list_path(item_list) %>
            <div class= "countitems">
              <%= link_to item_list.items.count, item_list_path(item_list), { class: 'counts' } %>
              <%= link_to "products", item_list_path(item_list), { class: 'products' } %>
            </div>
          </div>  
          <% if item_list.image? %>
            <%= link_to image_tag(item_list.image.url), item_list_path(item_list) %> 
          <% else %>
            <%= link_to image_tag("/assets/default.png"), item_list_path(item_list) %>
          <% end %>
        </li>
      <% end %>
      </ul>  
  </div>  
  
<% else %>
  <div class= logout>
    <div class= logout_image>
      <%= image_tag "/assets/ring.jpg" %>
      <div class =logout_word>
        <h1>アイテムで<br>マインドマネジメント</h1>
        <p>あなたのアイテムの使い方<br>そこで得られた体験を共有すること価値があるのです</p>
      </div>
    </div>  
  </div>

  <div class= toppage>  
      <p class="recentlyadded">Recently Added</p>
    <ul>
      <% @item_lists.each do |item_list| %>
        <li>
          <div class="box_text">
            <%= link_to item_list.list_name , item_list_path(item_list) %>
            <div class= "countitems">
              <%= link_to item_list.items.count, item_list_path(item_list), { class: 'counts' } %>
              <%= link_to "products", item_list_path(item_list), { class: 'products' } %>
            </div>
          </div>  
          <% if item_list.image? %>
            <%= link_to image_tag(item_list.image.url), item_list_path(item_list) %> 
          <% else %>
            <%= link_to image_tag("/assets/default.png"), item_list_path(item_list) %>
          <% end %>
        </li>
      <% end %>
      </ul>  
  </div>  
  


<% end %>


