<!-- 命名規則 
wrap　一番外ページを積み上げるボックス
container コンテンツを囲むボックス
ラッパー(wrapper)の中にコンテナ(container)が入っているイメージ
-->

<%= render 'layouts/navbar' %>
<% if logged_in? %>
  <div class= toppage_login>
    <div class="face_box">
      <span class="material-icons">
      emoji_emotions
      </span>
      <p class =login_username>こんにちわ, <%= current_user.name %>さん!</p>
      <p>何に困っていますか？</p>
    </div>
    <% if logged_in? %>
      <%= search_form_for @search do |f| %>
        <%= f.search_field :list_name_cont, placeholder: "How Are You Feeling?" %>
        <button type="submit" id="search">
          <span class="material-icons">search</span>
        </button>
      <% end %>
    <% end %>
    <p class="article_index_category_name">Mood</p>
    <div class="article_index">
      <ul class="article_index_wrap">
        <% @item_lists.each do |item_list| %>
          <li>
            <div class="article_word_box">
              <div class="article_word_box_left">
              </div>
              <div class="article_word_box_right">
                <div class="article_title">
                  <div class="title_name">
                    <%= link_to item_list.list_name , item_list_path(item_list) %>
                  </div>    
                </div> 
                <div class="artcle_user_info">
                  <div class="user_info_face_img">
                    <a href=""><span class="material-icons">account_circle</span></a>
                  </div>
                  <div class="user_box">
                    <div class="user_box_top_name">
                        <div class="user_name"><span><%= item_list.user.name %></span></div>
                        <div class="user_job_name">WEB DESIGNER</div>
                    </div>
                    <div class="user_box_top_time">
                      <div class="user_create_time"><%= item_list.created_at.strftime("%m/%d/%Y ") %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>   
          </li>
        <% end %>
      </ul> 
    </div> 
<% else %>
  <div class="toppage_logout">
    <div class="logout_image">
      <div class ="logout_top_left_word">
      <p class="test_user">testuserさん,こんにちは.</p>
      <h1 class="top">クリエイターのための<br>セルフケア情報<br>まとめサービス<span class= top_word_bottom></span></h1>
        <p class="middle"jio>DIGI CAREは、セルフケアを気軽に記録・シェア<br>デジタルクリエイターの日常を元気に！するため<br>のコミュニティーです。<br>みんなでセルフケアをシェア、毎日少しずつ気分がよくなる</p>
        <div class="box_login">
          <div class="test_login">
            <%= form_with(url: login_path, scope: :session, local: true) do |f| %>
              <%= f.hidden_field :email, value: "testuser@testuser.com" %>
              <%= f.hidden_field :password, value: "testuser" %>
              <span class="material-icons">description</span>
              <%= f.submit "Share for creater"%>
            <% end %>
          </div>
        </div>
      </div>
      <div class="logout_top_right_img">
        <%= image_tag("/assets/top_icatch.png") %>
      </div>
    </div>  
    <div class="wave_line">
        <%= image_tag("/assets/wave.svg") %>
      </div>
    <div class="how_to_use_wrap">
      <div class="container">
        <h1>DIDI CAREの使い方</h1>
        <div class="how_to_use"> 
          <div class="item">
            <p>セルフケアを記録</p>
            <p>セルフケアをメモしておくことで、ストレスを感じた時にすぐに対処することができます。</p>
          </div>
          <div class="item">
            <p>他のクリエイターのセルフケアを試せる</p>
            <p>デジタルクリエイター特有の悩みに分類</p>
          </div>
          <div class="item">
            <p>ストレス・チェッカーで気分を確認</p>
            <p>チェックリストで簡単確認</p>
          </div>
        </div>
      </div>

    
    </div>
    
    <p class="article_index_category_name">みんなのケア一覧</p>
    <div class="article_index">
      <ul class="article_index_wrap">
        <% @item_lists.each do |item_list| %>
          <li>
            <div class="article_topimg">
              <% if item_list.image? %>
                <%= link_to image_tag(item_list.image.url), item_list_path(item_list) %>
              <% else %>
                <%= link_to image_tag("/assets/default.png"), item_list_path(item_list) %>
              <% end %>
            </div>
            <div class="article_word_box">
              <div class="article_word_box_left">
              </div>
              <div class="article_word_box_right">
                <div class="article_title">
                  <div class="title_name">
                    <%= link_to item_list.list_name , item_list_path(item_list) %>
                  </div>    
                </div> 
                <div class="artcle_user_info">
                  <div class="user_info_face_img">
                    <a href=""><span class="material-icons">account_circle</span></a>
                  </div>
                  <div class="user_box">
                    <div class="user_box_top_name">
                        <div class="user_name"><span><%= item_list.user.name %></span></div>
                        <div class="user_job_name">WEB DESIGNER</div>
                    </div>
                    <div class="user_box_top_time">
                      <div class="user_create_time"><%= item_list.created_at.strftime("%m/%d/%Y ") %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>   
          </li>
        <% end %>
      </ul> 
    </div>
  </div>
<% end %>

