<!-- 命名規則 
wrap　一番外ページを積み上げるボックス
container コンテンツを囲むボックス
ラッパー(wrapper)の中にコンテナ(container)が入っているイメージ
-->

<%= render 'layouts/navbar' %>
<% if logged_in? %>
  <div class= toppage_login>
    <% if logged_in? %>
      <%= search_form_for @search do |f| %>
        <%= f.search_field :list_name_cont, placeholder: "お悩みはなんですか?" %>
        <button type="submit" id="search">
          <span class="material-icons">search</span>
        </button>
      <% end %>
    <% end %>

    <p class="article_index_category_name">人気のセルフケア</p>
    <div class="article_index">
      <ul class="article_index_wrap">
        <% @item_lists.each do |item_list| %>
          <li>
            <div class="article_topimg">
              <% if item_list.image? %>
                <%= link_to image_tag(item_list.image.url), item_list_path(item_list) %>
              <% else %>
                <%= link_to image_tag("/assets/default.png"), item_list_path(item_list) %>
              <% end %>
            </div>
            <div class="article_word_box">
              <div class="article_word_box_left">
              </div>
              <div class="article_word_box_right">
                <div class="article_title">
                  <div class="title_name">
                    <%= link_to item_list.list_name , item_list_path(item_list) %>
                  </div>    
                </div> 
                <div class="artcle_user_info">
                  <div class="user_box">
                    <div class="user_box_top_name">
                        <div class="user_name"><span><%= item_list.user.name %></span></div>
                        <div class="user_job_name">WEB DESIGNER</div>
                    </div> 
                  </div>
                </div>
              </div>
            </div>   
          </li>
        <% end %>
      </ul> 
    </div>
  </div>
<% else %>
  <div class="toppage_logout">
    <div class="logout_image">
      <div class ="logout_top_left_word">
      <h1 class="top">クリエイター専用<br>ステレス軽減<br>メモノート<br><span class= top_word_bottom></span></h1>
        <p class="middle"jio>サクサク書けて、落ち着く<br>ストレスフリーな自分になる</p>
        <div class="box_login">
          <div class="test_login">
            <%= form_with(url: login_path, scope: :session, local: true) do |f| %>
              <%= f.hidden_field :email, value: "testuser@testuser.com" %>
              <%= f.hidden_field :password, value: "testuser" %>
              <%= f.submit "ストレスフリーになる"%>
            <% end %>
          </div>
        </div>
      </div>
      <div class="logout_top_right_img">
        <!-- <%= image_tag("/assets/top_icatch.png") %> -->
      </div>
    </div>

    <div class="lp">
      <div class="user_qa_health">
        <h1>こんなことはありませんか？</h1>
        <div class="user_qa_wrap">
          <p>知らぬ間にストレスを抱えがち</p>
          <p>最近なんだか心が乱れがち</p>
          <p>作業に集中できない</p>
        </div>
      </div>
      <div class="user_benefit">
        <h1>得られるメリット</h1>
        <div class="user_qa_wrap">
          <p>毎日使うことで、メンタルが少しずつ確実に強化されていく。</p>
          <p>書くことで自分を癒す効果があります。シンプルにサクサク書ける</p>
          <p>書くことで自分を癒す効果があります。シンプルにサクサク書ける</p>
        </div>
      </div>
      <div class="user_explain_coping">
        <h1>ストレスコーピングとは</h1>
        <div class="user_qa_wrap">
          <p>ストレスコーピング とは、、、</p>
          <p>ストレスコーピング とは、、、</p>
          <p>ストレスコーピング とは、、、</p>
        </div>
      </div>
    </div>

    <!--　<div class="wave_line">
        <%= image_tag("/assets/wave.svg") %>
      </div>

     <div class="how_to_use_wrap">
      <div class="container">
        <h1>DIDI CAREの使い方</h1>
        <div class="how_to_use"> 
          <div class="item">
            <p>セルフケアをキロク</p>
            <p>セルフケアをメモしておくことで、ストレスを感じた時にすぐに対処することができます。</p>
          </div>
          <div class="item">
            <p>他のクリエイターのセルフケアを試せる</p>
            <p>デジタルクリエイター特有の悩みに分類</p>
          </div>
          <div class="item">
            <p>ストレス・チェッカーで気分を確認</p>
            <p>チェックリストで簡単確認</p>
          </div>
        </div>
      </div>
    </div>　-->
  </div>
<% end %>

