
<%= render 'layouts/navbar' %>
<% if logged_in? %>
  <div class= toppage_login>
    <div class="face_box">
      <span class="material-icons">
      emoji_emotions
      </span>
      <p class =login_username>Welcome Back, <%= current_user.name %>!</p>
    </div>
    
    <% if logged_in? %>
      <%= search_form_for @search do |f| %>
        <%= f.search_field :list_name_cont, placeholder: "What weapon do you need?" %>
        <button type="submit" id="search">
          <span class="material-icons">search</span>
        </button>
      <% end %>
    <% end %>
    <div class="tool_box">
      <span class="material-icons">
      devices_other
      </span>
      <p>Gadget</p>
    </div>
    <div class="itemlist">
      <ul class="main">
        <% @item_lists.each do |item_list| %>
          <li>
            <div class="itemlist_topimg">
              <% if item_list.image? %>
                <%= link_to image_tag(item_list.image.url), item_list_path(item_list) %>
              <% else %>
                <%= link_to image_tag("/assets/default.png"), item_list_path(item_list) %>
              <% end %>
            </div>
            <div class="itemlist_word">
              <div class="box_text">
                <div class="list_name">
                  <%= link_to item_list.list_name , item_list_path(item_list) %>
                </div>
                <p class= price></p>
                <p>
                  <span><%= item_list.user.name %></span> が
                  <%= item_list.created_at.strftime("%m/%d/%Y ") %>
                </p>    
              </div> 
            </div>   
          </li>
        <% end %>
      </ul> 
    </div> 
    <div class="cheacker_card_box">
      <div class= checker>
        <h1 class= checker_word_top>自分の<br>ストレスダメージを<br>管理する</h1>
        <p class= checker_word_middle></p>
        <p class= checker_word_middle>簡単チェックでストレスを可視化</p>
        <p></p>
        <p class= checker_word_bottom>＊ Stress Tracker&nbsp;のユーザーデータは解析のみに利用し、当社で保持することはありません。</p>
        <%= link_to new_emotion_path , { class: 'checker_submit' } do %>
          <%= image_tag("/assets/energy_cheacker_img.png") %>
          <p>Stress Tracker</p>
        <% end %>
      </div>
    </div>
<% else %>
  <div class= toppage_logout>
    <div class= logout_image>
      <div class =logout_word>
        <h1 class= top>クリエイターの<br>体調をマネージメントする<br>安全基地<span class= top_word_bottom></span></h1>
        <p class= middle>ヘルスハックに関する知見・共有サービス<br>You Are Safe Here<br></p>
        <div class="box_login">
          <div class="test_login">
            <%= form_with(url: login_path, scope: :session, local: true) do |f| %>
              <%= f.hidden_field :email, value: "testuser@testuser.com" %>
              <%= f.hidden_field :password, value: "testuser" %>
              <%= image_tag("/assets/tool.png") %>
              <%= f.submit "How Are You Feeling"%>
            <% end %>
          </div>
        </div>
      </div>
      <div class="logout_right_img">
      </div>
    </div>  
    <div class="tool_box">
      <span class="material-icons">
      devices_other
      </span>
      <p>Gadget</p>
    </div>
    <div class="itemlist">
      <ul class="main">
        <% @item_lists.each do |item_list| %>
          <li>
            <div class="list_item_type_box">
              <% if item_list.list_item_type == "1" then %>
              <div class="list_type_sord_box">
                <p class= list_item_type_name>Condition<span>&#x1f600;</span></p>
              </div>
              <% elsif item_list.list_item_type == "2" then%>
              <div class="list_type_shield_box">
                <p class= list_item_type_name>Condition<span>&#x1f622;</span></p>
              </div>
              <% end %>
            </div>
            <div class="itemlist_topimg">
              <% if item_list.image? %>
                <%= link_to image_tag(item_list.image.url), item_list_path(item_list) %>
              <% else %>
                <%= link_to image_tag("/assets/default.png"), item_list_path(item_list) %>
              <% end %>
            </div>
            <div class="itemlist_word">
              <div class="box_text">
                <div class="list_name">
                  <%= link_to item_list.list_name , item_list_path(item_list) %>
                </div>
                <p class= price></p>
                <p>
                  <span><%= item_list.user.name %></span> が
                  <%= item_list.created_at.strftime("%m/%d/%Y ") %>
                </p>    
              </div> 
            </div>   
          </li>
        <% end %>
      </ul> 
    </div>
    <div class="cheacker_card_box">
      <div class= checker>
        <h1 class= checker_word_top>自分で<br>自分の<br>体調管理</h1>
        <p class= checker_word_middle></p>
        <p class= checker_word_middle>簡単チェックでストレスを可視化</p>
        <p></p>
        <p class= checker_word_bottom>＊ Stress Tracker&nbsp;のユーザーデータは解析のみに利用し、当社で保持することはありません。</p>
        <%= link_to new_emotion_path , { class: 'checker_submit' } do %>
          <%= image_tag("/assets/energy_cheacker_img.png") %>
          <p>Stress Tracker</p>
        <% end %>
      </div>
    </div>
<% end %>

