<%= render 'layouts/navbar' %>
<% if logged_in? %>
  <div class= toppage_login>
    <div class="face_box">
      <span class="material-icons">
      emoji_emotions
      </span>
      <p class =login_username>Welcome Back, <%= current_user.name %>!</p>
    </div>
    <% if logged_in? %>
      <%= search_form_for @search do |f| %>
        <%= f.search_field :list_name_cont, placeholder: "How Are You Feeling?" %>
        <button type="submit" id="search">
          <span class="material-icons">search</span>
        </button>
      <% end %>
    <% end %>
    <div class="article_index_title_box">
      <p>Articles</p>
    </div>
    <div class="article_index">
      <ul class="article_index_wrap">
        <% @item_lists.each do |item_list| %>
          <li>
            <div class="article_topimg">
              <% if item_list.image? %>
                <%= link_to image_tag(item_list.image.url), item_list_path(item_list) %>
              <% else %>
                <%= link_to image_tag("/assets/default.png"), item_list_path(item_list) %>
              <% end %>
            </div>
            <div class="article_word_box">
              <div class="article_category">
                <% if item_list.list_item_type == "1" then %>
                <div class="face_type_box">
                  <p class="condition">Condition :</p>
                  <span>&#x1f606;</span>
                </div>
                <% elsif item_list.list_item_type == "2" then%>
                <div class="face_type_box">
                  <p class="condition">Condition :</p>
                  <span>&#x1f600;</span>
                </div>
                <% elsif item_list.list_item_type == "3" then%>
                <div class="face_type_box">
                  <p class="condition">Condition :</p>
                  <span>&#x1f610;</span>
                </div>
                <% elsif item_list.list_item_type == "4" then%>
                <div class="face_type_box">
                  <p class="condition">Condition :</p>
                  <span>&#x1f605;</span>
                </div>
                <% elsif item_list.list_item_type == "5" then%>
                <div class="face_type_box">
                  <p class="condition">Condition :</p>
                  <span>&#x1f631;</span>
                </div>
                <% end %>
              </div>
              <div class="article_title">
                <div class="title_name">
                  <%= link_to item_list.list_name , item_list_path(item_list) %>
                </div>    
              </div> 
              <p class="user_name">
                  <span><%= item_list.user.name %></span> が
                  <%= item_list.created_at.strftime("%m/%d/%Y ") %>
              </p>
            </div>   
          </li>
        <% end %>
      </ul> 
    </div> 
    <div class="cheacker_card_box">
      <div class= checker_word>
        <h1 class= checker_word_top>今日の<br>コンディションを<br>チェックする</h1>
        <p class= checker_word_middle>気分検知ツールで、体調の変化を記録</p>
        <p class= checker_word_bottom>＊ユーザーデータを外部利用することはありません。</p>
        <%= link_to new_emotion_path , { class: 'checker_submit' } do %>
          <span class="material-icons">emoji_emotions</span>
          <p>Daily Checker</p>
        <% end %>
      </div>
      <div class="checker_top_img">
        <%= image_tag("/assets/checker_top_smile.png") %>
      </div>
    </div>
<% else %>
  <div class= toppage_logout>
    <div class= logout_image>
      <div class =logout_top_left_word>
        <h1 class= top>ストレス解消を<br>気軽に、実践<span class= top_word_bottom></span></h1>
        <p class= middle>creaters homeは簡単にストレス解消法をシェア・実践することができるクリエイター・コミュニティーです<br></p>
        <div class="box_login">
          <div class="test_login">
            <%= form_with(url: login_path, scope: :session, local: true) do |f| %>
              <%= f.hidden_field :email, value: "testuser@testuser.com" %>
              <%= f.hidden_field :password, value: "testuser" %>
              <span class="material-icons">description</span>
              <%= f.submit "Share for creater"%>
            <% end %>
          </div>
        </div>
      </div>
      <div class="logout_top_right_img">
        <%= image_tag("/assets/top_img.png") %>
      </div>
    </div>  
    <p class="current_user">ゲストさん , こんにちは.</p>
    <div class="checker_wrap">
      <div class="condition_category_title">
        <p>気分をチェックしてみる</p>
      </div>
      <div class="checker_submit">
        <%= link_to new_emotion_path , { class: 'checker_submit' } do %>
            <span class="material-icons">emoji_emotions</span>
            <p>Daily Checker</p>
          <% end %>
      </div>
    </div>
    <p class="article_index_category_name">Mood</p>
    <div class="article_index">
      <ul class="article_index_wrap">
        <% @item_lists.each do |item_list| %>
          <li>
            <div class="article_word_box">
              <div class="article_face_type_category">
                <% if item_list.list_item_type == "1" then %>
                <div class="face_type_box">
                  <span>&#x1f606;</span>
                </div>
                <% elsif item_list.list_item_type == "2" then%>
                <div class="face_type_box">
                  <span>&#x1f600;</span>
                </div>
                <% elsif item_list.list_item_type == "3" then%>
                <div class="face_type_box">
                  <span>&#x1f610;</span>
                </div>
                <% elsif item_list.list_item_type == "4" then%>
                <div class="face_type_box">
                  <span>&#x1f605;</span>
                </div>
                <% elsif item_list.list_item_type == "5" then%>
                <div class="face_type_box">
                  <span>&#x1f631;</span>
                </div>
                <% end %>
              </div>
              <div class="article_title">
                <div class="title_name">
                  <%= link_to item_list.list_name , item_list_path(item_list) %>
                </div>    
              </div> 
              <div class="artcle_user_info">
                <div class="user_info_face_img">
                  <a href=""><span class="material-icons">account_circle</span></a>
                </div>
                <div class="user_box">
                    <div class="user_name"><span><%= item_list.user.name %></span></div>
                    <div class="user_job_name">web designer</div>
                    <div class="user_create_time"><%= item_list.created_at.strftime("%m/%d/%Y ") %>
                    </div>
                </div>
              </div>
            </div>   
          </li>
        <% end %>
      </ul> 
    </div>
  </div>
<% end %>

