
<%= render 'layouts/navbar' %>
<% if logged_in? %>
  <div class= toppage>
    <div class= "selectset">
      <div class= "selectset_box_current_user">
        <%= image_tag "/assets/smile.png" %>
        <p>How are you feeling?&nbsp;</p>
        <p class= "selectset_current_user_name"><%= current_user.name%></p>
      </div>
      <p class= reset></p>
      <div class= "selectset_box_category">
        <div class= "selectset_box_category_name">
          <%= link_to root_path(anchor: "brainset") do %>
            <%= image_tag "/assets/brain.png" %>
            <p>brain</p>
          <% end %>
          <%= link_to root_path(anchor: "bodyset") do %>
            <%= image_tag "/assets/body.png" %>
            <p>body</p>
          <% end %>
          <%= link_to root_path(anchor: "mindset") do %>
            <%= image_tag "/assets/mind.png" %>
            <p>mind</p>
          <% end %>
        </div>
      </div>
    </div>
    <div class="set">
      <p class="set-title">Creative Boost</p>
      <ul>
        <% @creativesets.each do |item_list| %>
          <li>
            <div class="box_text">
              <%= link_to item_list.list_name , item_list_path(item_list) %>
              <div class= "countitems">
                <%= link_to item_list.items.count, item_list_path(item_list), { class: 'counts' } %>
                <%= link_to "products", item_list_path(item_list), { class: 'products' } %>
              </div>
            </div>  
            <% if item_list.image? %>
              <%= link_to image_tag(item_list.image.url), item_list_path(item_list) %> 
            <% else %>
              <%= link_to image_tag("/assets/default.png"), item_list_path(item_list) %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div> 

    <div class="set">
      <p class="set-title">Reduce Anxiety</p>
      <ul>
        <% @sleepsets.each do |item_list| %>
          <li>
            <div class="box_text">
              <%= link_to item_list.list_name , item_list_path(item_list) %>
              <div class= "countitems">
                <%= link_to item_list.items.count, item_list_path(item_list), { class: 'counts' } %>
                <%= link_to "products", item_list_path(item_list), { class: 'products' } %>
              </div>
            </div>  
            <% if item_list.image? %>
              <%= link_to image_tag(item_list.image.url), item_list_path(item_list) %> 
            <% else %>
              <%= link_to image_tag("/assets/default.png"), item_list_path(item_list) %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div> 
    
    <div class="myset">
      <p class="myset_title">My Set</p>
      <ul>
        <% @mysets.each do |item_list| %>
          <li>
            <div class="box_text">
              <%= link_to item_list.list_name , item_list_path(item_list) %>
              <div class= "countitems">
                <%= link_to item_list.items.count, item_list_path(item_list), { class: 'counts' } %>
                <%= link_to "products", item_list_path(item_list), { class: 'products' } %>
              </div>
            </div>  
            <% if item_list.image? %>
              <%= link_to image_tag(item_list.image.url), item_list_path(item_list) %> 
            <% else %>
              <%= link_to image_tag("/assets/default.png"), item_list_path(item_list) %>
            <% end %>
            <div id="brainset"></div>
          </li>
        <% end %>
        </ul> 
    </div>   
    <div class="myset">
      <p class="myset_title">Brain</p>
      <ul>
        <% @brainsets.each do |item_list| %>
          <li>
            <div class="box_text">
              <%= link_to item_list.list_name , item_list_path(item_list) %>
              <div class= "countitems">
                <%= link_to item_list.items.count, item_list_path(item_list), { class: 'counts' } %>
                <%= link_to "products", item_list_path(item_list), { class: 'products' } %>
              </div>
            </div>  
            <% if item_list.image? %>
              <%= link_to image_tag(item_list.image.url), item_list_path(item_list) %> 
            <% else %>
              <%= link_to image_tag("/assets/default.png"), item_list_path(item_list) %>
            <% end %>
            <div id="bodyset"></div>
          </li>
        <% end %>
        </ul> 
    </div>   

    <div class="myset">
      <p class="myset_title">Body</p>
      <ul>
        <% @bodysets.each do |item_list| %>
          <li>
            <div class="box_text">
              <%= link_to item_list.list_name , item_list_path(item_list) %>
              <div class= "countitems">
                <%= link_to item_list.items.count, item_list_path(item_list), { class: 'counts' } %>
                <%= link_to "products", item_list_path(item_list), { class: 'products' } %>
              </div>
            </div>  
            <% if item_list.image? %>
              <%= link_to image_tag(item_list.image.url), item_list_path(item_list) %> 
            <% else %>
              <%= link_to image_tag("/assets/default.png"), item_list_path(item_list) %>
            <% end %>
            <div id="mindset"></div>
          </li>
        <% end %>
        
        </ul> 
    </div>   

    <div class="myset">
      <p class="myset_title">Mind</p>
      <ul>
        <% @mindsets.each do |item_list| %>
          <li>
            <div class="box_text">
              <%= link_to item_list.list_name , item_list_path(item_list) %>
              <div class= "countitems">
                <%= link_to item_list.items.count, item_list_path(item_list), { class: 'counts' } %>
                <%= link_to "products", item_list_path(item_list), { class: 'products' } %>
              </div>
            </div>  
            <% if item_list.image? %>
              <%= link_to image_tag(item_list.image.url), item_list_path(item_list) %> 
            <% else %>
              <%= link_to image_tag("/assets/default.png"), item_list_path(item_list) %>
            <% end %>
          </li>
        <% end %>
        </ul> 
    </div>   

    <div class="set">
      <p class="set-title">Sleep</p>
      <ul>
        <% @sleepsets.each do |item_list| %>
          <li>
            <div class="box_text">
              <%= link_to item_list.list_name , item_list_path(item_list) %>
              <div class= "countitems">
                <%= link_to item_list.items.count, item_list_path(item_list), { class: 'counts' } %>
                <%= link_to "products", item_list_path(item_list), { class: 'products' } %>
              </div>
            </div>  
            <% if item_list.image? %>
              <%= link_to image_tag(item_list.image.url), item_list_path(item_list) %> 
            <% else %>
              <%= link_to image_tag("/assets/default.png"), item_list_path(item_list) %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div> 
  </div>  

<% else %>
  <div class= logout>
    <div class= logout_image>
      <div class =logout_word>
        <p>アイテム×感情でインデックス</p>
        <p>ツイートからあなたの気分を測定<br>体調ケアアイテムを紹介</p>
      </div>
      <div class="box_login">
        <div class="test_login">
          <%= form_with(url: login_path, scope: :session, local: true) do |f| %>
          <%= f.hidden_field :email, value: "testuser@testuser.com" %>
          <%= f.hidden_field :password, value: "testuser" %>
          <%= f.submit "簡単ログイン"%> 
          <% end %>
        </div>
      </div>
    </div> 

    <div class= wellness>
      <div></div>
      <h1 class= wellness_word_top><br>現在のあなたのパフォーマンスを評価します<br></h1>
      <p class="wellness_word_bottom">体調管理はwellness checkerに任せて<br>迷いなくクリエイティブへ没頭</p>
      <p><%= link_to "Wellness Cheacker", new_emotion_path, { class: 'wellness_cheack' } %></p>
    </div>

    <div class= logout_toppage>  
    <div class="set">
      <div class= creativebooster_box>
        <%= image_tag "/assets/creativebooster.png" %>
        <p class="set-title">Itemlists</p>
      </div>
      <ul>
        <% @creativesets.each do |item_list| %>
          <li>
            <div class="box_text">
              <%= link_to item_list.list_name , item_list_path(item_list) %>
              <div class= "countitems">
                <%= link_to item_list.items.count, item_list_path(item_list), { class: 'counts' } %>
                <%= link_to "products", item_list_path(item_list), { class: 'products' } %>
              </div>
            </div>  
            <% if item_list.image? %>
              <%= link_to image_tag(item_list.image.url), item_list_path(item_list) %> 
            <% else %>
              <%= link_to image_tag("/assets/default.png"), item_list_path(item_list) %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div> 
    <div class="sleepset">
      <p class="sleepset-title"><%= image_tag("/assets/moon.svg") %>Itemlists</p>
      <ul>
        <% @sleepsets.each do |item_list| %>
          <li>
            <div class="box_text">
              <%= link_to item_list.list_name , item_list_path(item_list) %>
              <div class= "countitems">
                <%= link_to item_list.items.count, item_list_path(item_list), { class: 'counts' } %>
                <%= link_to "products", item_list_path(item_list), { class: 'products' } %>
              </div>
            </div>  
            <% if item_list.image? %>
              <%= link_to image_tag(item_list.image.url), item_list_path(item_list) %> 
            <% else %>
              <%= link_to image_tag("/assets/default.png"), item_list_path(item_list) %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div> 

    <% if logged_in? %>
      <div class="myset">
        <p class="myset_title">2Weeks brain upgrade</p>
        <ul>
          <% @mysets.each do |item_list| %>
            <li>
              <div class="box_text">
                <%= link_to item_list.list_name , item_list_path(item_list) %>
                <div class= "countitems">
                  <%= link_to item_list.items.count, item_list_path(item_list), { class: 'counts' } %>
                  <%= link_to "products", item_list_path(item_list), { class: 'products' } %>
                </div>
              </div>  
              <% if item_list.image? %>
                <%= link_to image_tag(item_list.image.url), item_list_path(item_list) %> 
              <% else %>
                <%= link_to image_tag("/assets/default.png"), item_list_path(item_list) %>
              <% end %>
            </li>
          <% end %>
          </ul> 
      </div>   
    <% end %>
  </div>
<% end %>

