
<%= render 'layouts/navbar' %>
<% if logged_in? %>
  <div class= toppage>
    <div class="recentlyadded">
      <p class="recentlyadded_title">RecentlyAdded</p>
      <ul>
        <% @item_lists.each do |item_list| %>
          <li>
            <div class="box_text">
              <%= link_to item_list.list_name , item_list_path(item_list) %>
              <div class= "countitems">
                <%= link_to item_list.items.count, item_list_path(item_list), { class: 'counts' } %>
                <%= link_to "products", item_list_path(item_list), { class: 'products' } %>
              </div>
            </div>  
            <% if item_list.image? %>
              <%= link_to image_tag(item_list.image.url), item_list_path(item_list) %> 
            <% else %>
              <%= link_to image_tag("/assets/default.png"), item_list_path(item_list) %>
            <% end %>
          </li>
        <% end %>
        </ul> 
    </div>  

    <div class="sleepset">
      <p class="sleepset-title">Creative Boost</p>
      <ul>
        <% @creativesets.each do |item_list| %>
          <li>
            <div class="box_text">
              <%= link_to item_list.list_name , item_list_path(item_list) %>
              <div class= "countitems">
                <%= link_to item_list.items.count, item_list_path(item_list), { class: 'counts' } %>
                <%= link_to "products", item_list_path(item_list), { class: 'products' } %>
              </div>
            </div>  
            <% if item_list.image? %>
              <%= link_to image_tag(item_list.image.url), item_list_path(item_list) %> 
            <% else %>
              <%= link_to image_tag("/assets/default.png"), item_list_path(item_list) %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div> 

    <div class="sleepset">
      <p class="sleepset-title">Sleep</p>
      <ul>
        <% @sleepsets.each do |item_list| %>
          <li>
            <div class="box_text">
              <%= link_to item_list.list_name , item_list_path(item_list) %>
              <div class= "countitems">
                <%= link_to item_list.items.count, item_list_path(item_list), { class: 'counts' } %>
                <%= link_to "products", item_list_path(item_list), { class: 'products' } %>
              </div>
            </div>  
            <% if item_list.image? %>
              <%= link_to image_tag(item_list.image.url), item_list_path(item_list) %> 
            <% else %>
              <%= link_to image_tag("/assets/default.png"), item_list_path(item_list) %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div> 

    <div class="myset">
      <p class="myset_title">My Set</p>
      <ul>
        <% @mysets.each do |item_list| %>
          <li>
            <div class="box_text">
              <%= link_to item_list.list_name , item_list_path(item_list) %>
              <div class= "countitems">
                <%= link_to item_list.items.count, item_list_path(item_list), { class: 'counts' } %>
                <%= link_to "products", item_list_path(item_list), { class: 'products' } %>
              </div>
            </div>  
            <% if item_list.image? %>
              <%= link_to image_tag(item_list.image.url), item_list_path(item_list) %> 
            <% else %>
              <%= link_to image_tag("/assets/default.png"), item_list_path(item_list) %>
            <% end %>
          </li>
        <% end %>
        </ul> 
    </div>   
  </div> 

<% else %>
  <div class= logout>
    <div class= logout_image>
      <div class =logout_word>
        <h1>クリエイティブクラスのための<br>パフォーマンス最大化ツール</h1>
        <p>スポーツアスリートだけでなく<br>全てのクリエイター達にも<br>フィジカル管理を</p>
        <p><%= link_to 'Reset Brain', signup_path , { class: 'resetbrain' }%></p>
      </div>
      <div class="top_image"><%= image_tag("/assets/top_image.png")%></div>
    </div>  
    <div class= wellness>
      <h1 class= wellness_word_top><br>セルフマネージメントで<br>迷いなくクリエイティブに没頭</h1>
      <p class="wellness_word_bottom">体調管理はwellness cheackにお任せ</p>
      <p><%= link_to "Wellness cheack", new_emotion_path, { class: 'wellness_cheack' } %></p>
    </div>

    <div class= logout_toppage>
    <div class="recentlyadded">
      <p class="recentlyadded_title">RecentlyAdded</p>
      <ul>
        <% @item_lists.each do |item_list| %>
          <li>
            <div class="box_text">
              <%= link_to item_list.list_name , item_list_path(item_list) %>
              <div class= "countitems">
                <%= link_to item_list.items.count, item_list_path(item_list), { class: 'counts' } %>
                <%= link_to "products", item_list_path(item_list), { class: 'products' } %>
              </div>
            </div>  
            <% if item_list.image? %>
              <%= link_to image_tag(item_list.image.url), item_list_path(item_list) %> 
            <% else %>
              <%= link_to image_tag("/assets/default.png"), item_list_path(item_list) %>
            <% end %>
          </li>
        <% end %>
        </ul> 
    </div>   
    <div class="sleepset">
      <p class="sleepset-title">CreativeBoost</p>
      <ul>
        <% @creativesets.each do |item_list| %>
          <li>
            <div class="box_text">
              <%= link_to item_list.list_name , item_list_path(item_list) %>
              <div class= "countitems">
                <%= link_to item_list.items.count, item_list_path(item_list), { class: 'counts' } %>
                <%= link_to "products", item_list_path(item_list), { class: 'products' } %>
              </div>
            </div>  
            <% if item_list.image? %>
              <%= link_to image_tag(item_list.image.url), item_list_path(item_list) %> 
            <% else %>
              <%= link_to image_tag("/assets/default.png"), item_list_path(item_list) %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div> 
    <div class="sleepset">
      <p class="sleepset-title">Sleep</p>
      <ul>
        <% @sleepsets.each do |item_list| %>
          <li>
            <div class="box_text">
              <%= link_to item_list.list_name , item_list_path(item_list) %>
              <div class= "countitems">
                <%= link_to item_list.items.count, item_list_path(item_list), { class: 'counts' } %>
                <%= link_to "products", item_list_path(item_list), { class: 'products' } %>
              </div>
            </div>  
            <% if item_list.image? %>
              <%= link_to image_tag(item_list.image.url), item_list_path(item_list) %> 
            <% else %>
              <%= link_to image_tag("/assets/default.png"), item_list_path(item_list) %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div> 

    <% if logged_in? %>
      <div class="myset">
        <p class="myset_title">My Set</p>
        <ul>
          <% @mysets.each do |item_list| %>
            <li>
              <div class="box_text">
                <%= link_to item_list.list_name , item_list_path(item_list) %>
                <div class= "countitems">
                  <%= link_to item_list.items.count, item_list_path(item_list), { class: 'counts' } %>
                  <%= link_to "products", item_list_path(item_list), { class: 'products' } %>
                </div>
              </div>  
              <% if item_list.image? %>
                <%= link_to image_tag(item_list.image.url), item_list_path(item_list) %> 
              <% else %>
                <%= link_to image_tag("/assets/default.png"), item_list_path(item_list) %>
              <% end %>
            </li>
          <% end %>
          </ul> 
      </div>   
    <% end %>
  </div>
<% end %>


