
<% if logged_in? %>
  <div class= user-name>
    <p>Welcome back: <%= current_user.name %></p>
  </div>

  <div class= toppage>    
    <ul>
      <% @item_lists.each do |item_list| %>
        <li>
            <%= link_to item_list.list_name , item_list_path(item_list) %>
            <p class= item_list_products>products</p>
            <% if item_list.image? %>
              <%= image_tag item_list.image.url %> 
            <% else %>
              <%= image_tag "/assets/default.jpg" %>
            <% end %>
        </li>
      <% end %>
    </ul>
  </div>  
  
<% else %>
  <div class= logout>
    <div class= logout_image>
      <%= image_tag "/assets/top.jpg" %>
      <div class =logout_word>
        <h1>あなたの創造性を解き放つための<br>コミュニティー</h1>
        <p class =logout_word_buttom>それがMind Hacksです</p>
        <%= link_to 'Sign up now!', signup_path %>
      </div>
    </div>
    
  </div>
  <div class= toppage>    
    <ul>
      <% @item_lists.each do |item_list| %>
        <li>
            <%= link_to item_list.list_name , item_list_path(item_list) %>
            <p class= item_list_products>view</p>
            <% if item_list.image? %>
              <%= image_tag item_list.image.url %> 
            <% else %>
              <%= image_tag "/assets/default.jpg" %>
            <% end %>
        </li>
      <% end %>
    </ul>
  </div>  
<% end %>

