<%= render 'layouts/navbar' %>
<div class="item_edit">
    <h1>Edit Tool</h1>
    <%= form_with(model: @item, local: true) do |form| %>
        <%= form.label :item_name , 'Tool name' %>
        <%= form.text_field :item_name %>
         <%= form.text_field :item_link, placeholder: "Products_url" %>
        <%= form.file_field :img %>
        <%= form.submit 'save' %>
    <% end %>
</div>