<%= form_with(model: @item, local: true) do |form| %>
  
    <%= form.label :item_name %>
    <%= form.text_field :item_name %>
    <%= form.submit %>

    <p>
        <%= form.label :img %>
        <%= form.file_field :img %>
    </p>

<% end %>
  