<div class="wrap_formhead">
    <p>How are you feeling？&nbsp;</p>
    <p class= wrap_formhead_username><%= @user.name%></p>
</div>
<%= form_with(model: @item_list, local: true) do |f| %>
    <%= f.label :list_name, 'Situation' ,{class: 'item_list_label_name'} %>
    <%= f.text_field :list_name, placeholder: "Strong Mind ,Nutral Mind , High Resilience ,Deep Sleep" %>
    <%= f.label :list_description , 'how to use' ,{class: 'item_list_label_name'} %>
    <%= f.text_area :list_description , placeholder: "sleep before 30 minitute" %>
    <div class="wrap">  
        <p class= img_label><%= f.label :image, image_tag("default_mini.png"), class: "addproducts_img_label" %></p>
        <%= f.label :image, "Cover img", class: "img_name" %>
        <%= f.file_field :image, class: "fileInput",style: "display:none;" %>   
    </div>
    <div class= submit><%= f.submit 'Next',{class: 'item_list_submit' } %></div>   
<% end %>
