<%= form_with(model: @item_list, local: true) do |f| %>
    <div class="item_type_wrap">
        <p>Condition</p>
        <div class="item_type_select_box">
            <div class="item_type_select_box_inner">
                <%= f.radio_button 'list_item_type', '1' %>
                <span>&#x1f606;</span>
                <%= f.label :list_item_type, 'Very Good', value: 1 %>
            </div>
            <div class="item_type_select_box_inner">
                <%= f.radio_button 'list_item_type', "2" %>
                <span>&#x1f600;</span>
                <%= f.label :list_item_type, 'Good', value: 2 %>
            </div>
            <div class="item_type_select_box_inner">
                <%= f.radio_button 'list_item_type', '3' %>
                <span>&#x1f610;</span>
                <%= f.label :list_item_type, 'Fair', value: 3 %>
            </div>
            <div class="item_type_select_box_inner">    
                <%= f.radio_button 'list_item_type', '4' %>
                <span>&#x1f605;</span>
                <%= f.label :list_item_type, 'Poor', value: 4 %>
            </div>
            <div class="item_type_select_box_inner">
                <%= f.radio_button 'list_item_type', '5' %>
                <span>&#x1f631;</span>
                <%= f.label :list_item_type, 'Very Poor', value: 5 %>
                
            </div>
        </div>
    </div>
    <%= f.label :list_name, 'Situation' ,{class: 'item_list_label_name'} %>
    <%= f.text_field :list_name, placeholder: "Strong Mind ,Creative Booster ,Reset Body ,Deep Sleep" %>
    <%= f.label :list_description , 'How to use' ,{class: 'item_list_label_name'} %>
    <%= f.text_area :list_description , placeholder: "sleep before 30 minitute" %>
    <div class="wrap">  
        <p class= img_label><%= f.label :image, image_tag("default_mini.png"), class: "addproducts_img_label" %></p>
        <%= f.label :image, "cover img", class: "img_name" %>
        <%= f.file_field :image, class: "fileInput",style: "display:none;" %>   
    </div>
    <div class= submit><%= f.submit 'Post',{class: 'item_list_submit' } %></div>   
<% end %>
