  <header>
  <nav>
    <% if logged_in? %>
    <div class="nav_title_box">
      <a class="nav_logo" href="/"> 
        <div class= "nav_img">
          <%= image_tag("/assets/nav_image3.png") %>
        </div>
        <div class= "nav_title"><p class= "title">&nbsp;Perfect Human&nbsp;</p></div>
      </a>
    </div>
    <% else %>
    <div class="nav_title_box">
      <a class="nav_logo" href="/"> 
        <div class= "nav_img">
          <%= image_tag("/assets/nav_image3.png") %>
        </div>
        <div class= "nav_title"><p class= "title">&nbsp;Perfect Human&nbsp;</p></div>
      </a>
    </div>  
    <% end %>
    <ul>
      <% if logged_in? %>
        <div class="plus_box">
          <li><%= link_to '+', new_item_list_path , { class: 'plus' }%></li>
          <li><%= link_to 'new item', new_item_list_path , { class: 'plus_itemlist' }%></li>
        </div>
        <li><%= link_to 'Logout', logout_path, { method: :delete, class: "logout" }%></li>
      <% else %>
        <li><%= link_to 'Sign Up', signup_path , { class: 'signup' }%></li>
        <li><%= link_to 'Login', login_path , { class: 'login' }%></li>
      <% end %>
    </ul>
  </nav>
</header>

<%= render 'layouts/flash_messages' %>