<header>
  <nav>
    <a class="nav_logo" href="/">
      <div class= "logo_icon">
        <%= image_tag("/assets/kit.png") %>
      </div>
      <div class= "title"><span>Life Packing</span></div>
    </a>
    <% if logged_in? %>
      <%= search_form_for @search do |f| %>
        <%= f.search_field :list_name_cont, placeholder: "How are you feeling?" %>
        <button type="submit" id="search"><%= image_tag("/assets/search.png") %></button>
      <% end %>
    <% end %>
    <ul>
      <% if logged_in? %>
        <li><%= link_to '+', new_item_list_path , { class: 'plus' }%></li>
        <li><%= link_to 'Logout', logout_path, { method: :delete, class: "logout" }%></li>
      <% else %>
        <li><%= link_to 'Signup', signup_path , { class: 'resetbrain' }%></li>
        <li><%= link_to 'Login', login_path , { class: 'login' }%></li>
      <% end %>
    </ul>
  </nav>
</header>

<%= render 'layouts/flash_messages' %>