<header>
  <nav>
    <% if logged_in? %>
      <div class="nav_title_box">
        <%= link_to users_path do %>
          <div class="nav_img">
            <%= image_tag "mycare_logo.png" %>
          </div>
          <p>My Care.</p>
        <% end %>
      </div>
    <% else %>
      <div class="nav_title_box">
        <%= link_to root_path do %>
          <div class="nav_img">
            <%= image_tag "mycare_logo.png" %>
          </div>
          <p>My Care.</p>
        <% end %>
      </div>
    <% end %>
    
    <ul class= menu_right>
      <% if logged_in? %>
        <div class="plus_box">
          <li><%= link_to 'やってみたケアをキロク', new_item_list_path , { class: 'plus_itemlist' }%></li>
        </div>
        <ul class="menu">
          <li>
            <a href=""><span class="material-icons">account_circle</span></a>
            <ul>
              <li><%= link_to 'プロフィール', user_path(current_user) , { class: 'profile' }%></li>
              <li>
                <%= link_to logout_path, { method: :delete, class: "logout" } do %>
                  <%= image_tag asset_path("logout.png") %>
                  <p>Logout</p>
                <% end %>
              </li>
            </ul>
          </li>
          <%= javascript_pack_tag 'navbar' %>
        </ul>

      <% else %>
        <li><%= link_to '登録', signup_path , { class: 'signup' }%></li>
        <li><%= link_to 'ログイン', login_path , { class: 'login' }%></li>
      <% end %>
    </ul>
  </nav>
  <%= render 'layouts/flash_messages' %>
</header>

