<header>
  <nav>
    <% if logged_in? %>
    <a class="nav_logo" href="/">
      <div class= "nav_img">
        <%= image_tag("/assets/nav_image3.png") %>
      </div>
      <div class= "nav_title"><p class= "title">&nbsp;Future Hacker &nbsp;</p></div>
    </a>
    <% else %>
    <a class="nav_logo" href="/"> 
      <div class= "nav_img">
        <%= image_tag("/assets/nav_image3.png") %>
      </div>
      <div class= "nav_title"><p class= "title">&nbsp;Future Hacker &nbsp;</p></div>
    </a>
    <% end %>

    <% if logged_in? %>
      <%= search_form_for @search do |f| %>
        <%= f.search_field :list_name_cont, placeholder: "How are you feeling?" %>
        <button type="submit" id="search"><%= image_tag("/assets/search.png") %></button>
      <% end %>
    <% end %>
    <ul>
      <% if logged_in? %>
        <div class="plus_box">
          <li><%= link_to '+', new_item_list_path , { class: 'plus' }%></li>
          <li><%= link_to 'new tools', new_item_list_path , { class: 'plus_itemlist' }%></li>
        </div>
        <li><%= link_to 'Logout', logout_path, { method: :delete, class: "logout" }%></li>
      <% else %>
        <li><%= link_to 'Sign Up', signup_path , { class: 'signup' }%></li>
        <li><%= link_to 'Login', login_path , { class: 'login' }%></li>
      <% end %>
    </ul>
  </nav>
</header>

<%= render 'layouts/flash_messages' %>