<header>
  <nav>
    <a class="nav_logo" href="/">
      <div class= "angle30"><%= image_tag('angle30.png') %></div>
      <div class= "title"><span>Cutting Edge</span></div>
    </a>

    <div class="searchbox">
      <%= search_form_for @search do |f| %>
        <%= f.search_field :list_name_cont, placeholder: "How are you feeling?" %>
        <button type="submit" id="search"><i class="fas fa-search searchicon"></i></button>
      <% end %>
    </div>

    <ul>
      <% if logged_in? %>
        <li><%= link_to '+', new_item_list_path , { class: 'plus' }%></li>
        <li><%= link_to current_user.name , user_path(current_user) , { class: 'username' }%></li>
        <li><%= link_to 'Logout', logout_path, { method: :delete, class: "logout" }%></li>
      <% else %>          
        <li><%= link_to 'Signup', signup_path , { class: 'signup' }%></li>
        <li><%= link_to 'Login', login_path , { class: 'login' }%></li>
      <% end %>
    </ul>
  </nav>
</header>

<%= render 'layouts/flash_messages' %>