  <header>
  <nav>
    <% if logged_in? %>
    <div class="nav_title_box">
      <a class="nav_logo" href="/"> 
        <div class= "nav_img">
          <%= image_tag("/assets/nav_logo.png") %>
        </div>
        <div class= "nav_title"><p class= "title">&nbsp;Future Weapon&nbsp;</p></div>
      </a>
    </div>
    <% else %>
    <div class="nav_title_box">
      <a class="nav_logo" href="/"> 
        <div class= "nav_img">
          <%= image_tag("/assets/nav_logo.png") %>
        </div>
        <div class= "nav_title"><p class= "title">&nbsp;Future Weapon&nbsp;</p></div>
      </a>
    </div>  
    <% end %>
    <ul class= menu_right>
      <% if logged_in? %>
        <div class="plus_box">
          <li><%= link_to '+', new_item_list_path , { class: 'plus' }%></li>
          <li><%= link_to 'new item', new_item_list_path , { class: 'plus_itemlist' }%></li>
        </div>
        <div class="user_accodion">
          <p class="menu js-menu">user</p>
          <li><%= link_to 'Logout', logout_path, { method: :delete, class: "logout" }%></li>
        </div>

      <% else %>
        <li><%= link_to 'Sign Up', signup_path , { class: 'signup' }%></li>
        <li><%= link_to 'Login', login_path , { class: 'login' }%></li>
      <% end %>
    </ul>

    <ul class="menu">
      <li>
        <a href="">親メニュー</a>
        <ul>
          <li><a href="">子メニュー1</a></li>
          <li><a href="">子メニュー2</a></li>
          <li><a href="">子メニュー3</a></li>
        </ul>
      </li>
      <%= javascript_pack_tag 'navbar' %>
    </ul>
  

  </nav>
</header>

<%= render 'layouts/flash_messages' %>