<% if logged_in? %>
<nav>
    <ul class="bottom_menu">
        <li>
            <%= link_to root_path do %>
                <div class="under_nav_home">
                    <span class="material-symbols-outlined">home</span>
                    <p>ホーム</p>
                </div>
            <% end %>
        </li>
        <li>
            <%= link_to emotions_path do %>
                <div class="under_nav_home_add">
                    <span class="material-symbols-outlined">schedule</span>
                    <p>コンディション</p>
                </div>
            <% end %>
        </li>
        <li>
            <%= link_to new_item_list_path do %>
                <div class="under_nav_home_add">
                    <span class="material-symbols-outlined">add_circle</span>
                </div>
            <% end %>
        </li>
        <li>
            <%= link_to favorites_user_path(current_user) do %>
                <div class="under_nav_home_add">
                    <span class="material-symbols-outlined">bookmark</span>
                    <p>リスト</p>
                </div>
            <% end %>
        </li>
        <li>
            <%= link_to user_path(current_user) do %>
                <div class="under_nav_profile">
                    <span class="material-symbols-outlined">person</span>
                    <p>プロフィール</p>
                </div>
            <% end %>
        </li>
        <li>
            <%= link_to root_path do %>
                <div class="under_nav_home">
                    <span class="material-symbols-outlined">book</span>
                    <p>探す</p>
                </div>
            <% end %>
        </li>
    </ul>
</nav>
<% end %>